/*.toggle-title.client.collapsed {
  background: #ffffff url(../../../images/icons/icon_blockcollapsed.png) no-repeat 3px 5px;
}*/
form.aui input.fastbucks-config{
    margin-bottom: 9px;
}

.result-success{
    color: green;
}

.result-error{
    color: purple;
}

.description.right{
    float: right;
}

.fastbucks-description{
    color: #808080;
    font-size: 12px;
}

#fastbuckscroneditor .radio{
    display: inline-block;
    margin-top: 5px;
}
#fastbuckscroneditor fieldset select{
    display: inline-block;
    margin-top: 5px;
}

#fastbuckscroneditor .checkbox{
    float: left;
    margin-right: 7px;
}

#fastbuckscroneditor legend{
    margin-top: 5px;
    font-weight: bolder;
}

#fastbuckscroneditor .description{
    padding-top: 5px;
    font-size: smaller;
}